<div style="margin-top: 10px;">
  <div>
    <table class="resource-form">
      <tr>
        <td>
          Resource Name(rn)
        </td>
        <td>
          <input type="text" ng-model="resource.rn" />
        </td>
      </tr>

      <tr>
        <td>
          Labels(lbl)
        </td>
        <td>
          <input type="text" ng-model="resource.lbl" />
        </td>
      </tr>

      <tr>
        <td>
          Max No. of Instances(mni)
        </td>
        <td>
          <input type="text" ng-model="resource.mni" />
        </td>
      </tr>

      <tr>
        <td>
          Max Data Size(cbs)
        </td>
        <td>
          <input type="text" ng-model="resource.cbs" />
        </td>
      </tr>

    </table>
  </div>
</div>