[submodule "webportal"]
	path = webportal
	url = https://bitbucket.org/synctechnoinc/webportal.git
[submodule "otadevelopmentassistserver"]
	path = otadevelopmentassistserver
	url = https://bitbucket.org/kimjinhyeok/otadevelopmentassistserver.git
[submodule "telegrambotmanagementassistserver"]
	path = telegrambotmanagementassistserver
	url = https://bitbucket.org/kimjinhyeok/telegrambotmanagementassistserver.git
[submodule "dashboard"]
	path = dashboard
	url = https://bitbucket.org/synctechnoinc/dashboard.git
