<div class="acop-container" style="display: inline-block">
  <label class="switch vertical switch-text switch-sm switch-success" ng-click="toggleAcop(0)">
    <input type="checkbox" class="switch-input" ng-model="acOperation[0]">
    <span class="switch-label" data-on="C" data-off="C"></span>
    <span class="switch-handle" data-on="C" data-off="C"></span>
  </label>

  <label class="switch vertical switch-text switch-sm switch-success" ng-click="toggleAcop(1)">
    <input type="checkbox" class="switch-input" ng-model="acOperation[1]">
    <span class="switch-label" data-on="R" data-off="R"></span>
    <span class="switch-handle" data-on="R" data-off="R"></span>
  </label>

  <label class="switch vertical switch-text switch-sm switch-success" ng-click="toggleAcop(2)">
    <input type="checkbox" class="switch-input" ng-model="acOperation[2]">
    <span class="switch-label" data-on="U" data-off="U"></span>
    <span class="switch-handle" data-on="U" data-off="U"></span>
  </label>

  <label class="switch vertical switch-text switch-sm switch-success" ng-click="toggleAcop(3)">
    <input type="checkbox" class="switch-input" ng-model="acOperation[3]">
    <span class="switch-label" data-on="D" data-off="D"></span>
    <span class="switch-handle" data-on="D" data-off="D"></span>
  </label>

  <label class="switch vertical switch-text switch-sm switch-warning" ng-click="toggleAcop(4)">
    <input type="checkbox" class="switch-input" ng-model="acOperation[4]">
    <span class="switch-label" data-on="N" data-off="N"></span>
    <span class="switch-handle" data-on="N" data-off="N"></span>
  </label>

  <label class="switch vertical switch-text switch-sm switch-warning" ng-click="toggleAcop(5)">
    <input type="checkbox" class="switch-input" ng-model="acOperation[5]">
    <span class="switch-label" data-on="D" data-off="D"></span>
    <span class="switch-handle" data-on="D" data-off="D"></span>
  </label>
</div>
