<div class="login-page">
  <div class="login-spacer"></div>
  <!--   
  <div class="login-container">
    <div id="login-fab" class="primaryColorBG">
      <i id="lock-icon" class="material-icons">lock</i>
    </div>
    <h2 class="card-heading">
      로그인
    </h2>
    <form class="login-form">
      <mat-form-field >
        <input matInput type="email" [(ngModel)]="email" [ngModelOptions]="{standalone : true}" placeholder="Email">
      </mat-form-field>    
      <mat-form-field>
        <input matInput type='password' [(ngModel)]="password" [ngModelOptions]="{standalone : true}" placeholder="Password">
      </mat-form-field>
    </form>
    <div class="buttons">
      <div class="login">
        <button mat-raised-button color="primary" (click)="login()">로그인</button>
      </div>
      <div class="register">
        <button mat-raised-button color="primary" (click)="register()">회원가입</button>
        <button mat-button (click)="forgotPw()">비밀번호 찾기</button>
      </div>      
    </div>
  </div>
   -->
</div>