mat-toolbar{
    padding: 0px !important;
    height: 55px !important;
    width: 100%;
    line-height: 100%;
    vertical-align: middle;
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mat-toolbar-title{
    color: #eeeeee;
    font-weight: 400;
    display: inline-block;
    margin-left: 15px;
}
.logo {
    width: 250px;
    height: 50px;
    background: url(/assets/images/logo.png);
    background-size: 140px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.login-option {
    width: 10%;
    float: right;
}
.login-option::after{
    clear: both;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

button{
    color: #e2e2e2;
    font-weight: 500;
}

.menu-button::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    color: #fff;
}

a {
    text-decoration: none;
}
.account-button {
    margin-right: 20px;
}
.menu-button {
    color: #fff;
    font-size: 17px;
}
.dropdown-menu {
    padding: 0px;
}
.dropdown-item i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: #d1d4d7;
    text-align: center;
}

.service-map ul {
    display : flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.service-map .dropdown-item {
    padding: .25rem .8rem;
}
.service-map .dropdown-item:active {
    background-color: #f0f0f070;
}
.service-map ul li {
    text-align: center;
    line-height: 12px;
}
.service-map .menu-element .img-button {
    width: 80px;
    height: 80px;
    background-size: 60px;
    margin: 5px 5px 0px 5px;
}
.service-map .menu-element .menu-label {
    font-size: 11px;
}

.img-button {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: 4px solid #20a8d8;
    display: block;
}

.img-button.mobius-status {
    background-image: url("/assets/images/mobius.png");
}
.img-button.device-manage {
    background-image: url("/assets/images/device.png");
}
.img-button.access-protect {
    background-image: url("/assets/images/shield.png");
}
.img-button.data-search {
    background-image: url("/assets/images/folder.png");
}   
.img-button.resmon {
    background-image: url("/assets/images/resmon.png");
}
.img-button.dashboard {
    background-image: url("/assets/images/dashboard.png");
}
.img-button.ota {
    background-image: url("/assets/images/ota.png");
}
.img-button.agent {
    background-image: url("/assets/images/agent.png");
}

.menu-element .menu-label {
    text-align: center;
    color: #565656;
    font-size: 17px;
}

.img-avatar {
    height: 35px;
    margin: 0 10px;
}
.dropdown-toggle {
    color: #fff !important;
    font-size: 17px;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
    background: #f8f9fa;
    border-bottom: 1px solid #d1d4d7;
    text-align: center;
}
.account {
    margin-right: 20px;
}
.account .dropdown-item {
    padding: 10px 20px;
}