/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-notifier/styles";
@import "~bootstrap/dist/css/bootstrap.css";

* {
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}
body {
    margin : 0!important;
}
body::after{
    content : "";
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background-image: url('/assets/images/ota_network.png'); 
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;    
}
span.mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}
.app-container{

    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.custom-dialog{
    /* text-align: center; */
    font-size: 0.9em;
}
.custom-dialog
.mat-form-field {
    height: 5em;
}
.custom-dialog
.mat-radio-button {
    margin: 0 5px 0 5px;
}
.custom-dialog
mat-dialog-actions{
    display: inline-flex;
    text-align: center;
}
.custom-dialog
.mat-form-field
.mat-raised-button{
    margin-left: 10px;
}
.custom-dialog
 mat-dialog-actions button{
    margin: 0 5px 0 5px;
}
.custom-dialog
mat-dialog{
    margin-left: 10px;
}

.loading-text{
    color: #ffffff;
}