<md-toast>
  <span class="md-toast-text" flex>Custom toast!</span>
  <md-button class="md-highlight" ng-click="openMoreInfo($event)">
    More info
  </md-button>
  <md-button ng-click="closeToast()">
    Close
  </md-button>
</md-toast>


<!--
<div data-notify="container" class="alert alert-rose alert-with-icon">
  <button type="button" aria-hidden="true" class="close">×</button>
  <i data-notify="icon" class="material-icons">add_alert</i>
  <span data-notify="message">
    This is a notification with close button and icon and is made with ".alert-rose".
    You can see that the icon and the close button are always vertically aligned.
    This is a beautiful notification. So you don't have to worry about the style.
  </span>
</div>
-->
