<div flex layout="row" layout-align="center center" class="body-signin" ng-controller="userController" ng-init="init()">

  <md-card flex-xl="25" flex-md="40" flex-sm="80" class="signin-card" >
    <md-card-title class="bg-dashboard" layout="column">
      <h1>DASHBOARD</h1>
      <p>Welcome! Fill the form below to create your account and enjoy.</p>
    </md-card-title>
    <md-card-content>
      <form name="signinForm">

        <div flex>
          <md-input-container class="md-block">
            <label>Name</label>
            <input md-maxlength="30" required name="userName" ng-model="signin.userName" />

            <div ng-messages="signinForm.userName.$error">
              <div ng-message="required">User name is required.</div>
              <div ng-message="md-maxlength">The User name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <div flex laytou="column">
            <md-input-container class="md-block">
              <label>User ID</label>
              <input md-maxlength="15" required name="userId" ng-model="signin.userId" />

              <div ng-messages="signinForm.userId.$error">
                <div ng-message="required">User is required.</div>
                <div ng-message="md-maxlength">The user ID has to be less than 16 characters long.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Email</label>
              <input tyep="email" md-maxlength="30" required name="email" ng-model="signin.email" />

              <div ng-messages="signinForm.email.$error">
                <div ng-message="required">Email is required.</div>
                <div ng-message="email">This field must be a valid email address.</div>
                <div ng-message="md-maxlength">The email has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
          </div>
          <div flex="none" layout="column">
            <div flex>
              <md-button ng-click="checkUserId()"  aria-label="Check user ID" layout="column">
                <md-icon md-font-icon="fas fa-check"></md-icon>
                <span>Check ID</span>
                <span>&amp;</span>
                <span>email</span>
              </md-button>
            </div>
          </div>

        </div>

        <div flex layout="column">
          <md-input-container class="md-block" >
            <label>Password</label>
            <input type="password" md-maxlength="30" required name="email" ng-model="signin.password" />

            <div ng-messages="signinForm.email.$error">
              <div ng-message="required">Password is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" >
            <label>Password check</label>
            <input type="password" md-maxlength="30" required name="email" ng-model="signin.passwordCheck" />

            <div ng-messages="signinForm.email.$error">
              <div ng-message="required">Password check is required.</div>
            </div>
          </md-input-container>
        </div>
      </form>

    </md-card-content>
    <md-card-action layout="column">
      <div flex layout="row">
        <div flex="none" layout="column">
          <md-button ng-click="doSignin()"  aria-label="Sign in">
            <md-icon md-font-icon="fas fa-sign-in-alt"></md-icon> SIGN IN
          </md-button>
        </div>
        <span flex></span>
        <!-- <div flex="none" layout="column">
          <a href="">Terms of Service</a>
          <a href="">Privacy Center</a>
        </div> -->
      </div>
    </md-card-action>
  </md-card>


</div>
