<div flex layout="row" layout-align="center center" ng-controller="authController">
    <md-card flex-xl="20" flex-md="33" flex-sm="50" class="password-reset-form" >
        <md-card-title class="bg-dashboard bd-shadow">
            <md-card-title-text>
                <span class="md-headline">RESET PASSWORD</span>
                <span class="md-subhead">Request password reset link via your email</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="column">
                <md-input-container class="md-block">
                    <label>EMAIL</label>
                    <input ng-model="formData.reset.email" on-key-enter="passwordResetRequest()" type="text">
                </md-input-container>
            </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="passwordResetRequest()">REQUEST PASSWORD RESET LINK</md-button>
        </md-card-actions>
    </md-card>

</div>
