<div flex layout="row" layout-align="center center" ng-controller="authController">
  <md-card flex-xl="20" flex-md="33" flex-sm="50" class="password-change-form" >
    <md-card-title class="bg-dashboard bd-shadow">
      <md-card-title-text>
        <span class="md-headline">NEW PASSOWRD</span>
        <span class="md-subhead">Reset your password</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="column">
        <md-input-container class="md-block">
          <label>NEW PASSOWRD</label>
          <input ng-model="formData.change.password" on-key-enter="changePassword()" type="text">
        </md-input-container>

        <md-input-container class="md-block">
          <label>REPEAT PASSWORD</label>
          <input ng-model="formData.change.password2" on-key-enter="changePassword()" type="password">
        </md-input-container>
      </div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="changePassword()">CHANGE PASSWORD</md-button>
    </md-card-actions>
  </md-card>

</div>
