<div class="container">
  <br />
  <div class="jumbotron">
    <h2><a target="_blank" href="http://www.keti.re.kr/eng"><img style="height: 60px;" src="./images/keti-logo.png"/></a> <a ui-sref="monitor">MOBIUS Resource Monitoring Tool<sup>TM</sup></a></h2>
    <p>The <span class="text-danger"><a ui-sref="monitor">MOBIUS Resource Monitoring Tool<sup>TM</sup></a></span> is a WEB based monitoring tool that supports visualize oneM2M resources and manage it.</p>

    <br />
    <div style="float:right;">
      <a target="_blank" href="http://www.synctechno.com"><img class="poweredby" src="./images/poweredby-synctechno.png"/></a>
    </div>
    <div style="float:left;">
      <a target="_blank" href="http://www.onem2m.org/"><img style="height: 60px !important;" class="poweredby" src="./images/oneM2M_Logo.png"/></a>
    </div>
    <br />
    <br />
    <hr />
    <div style="width: 90%; margin: auto; ">
      <a ui-sref="monitor"><img style="width: 100%; box-shadow: 4px 4px 4px #888888; border: 2px solid lightgray; border-radius: 10px;" src="./images/screenshot.png" /></a>
    </div>
  </div>
</div>