.add-form {
  min-height: 240px;
  max-width: 50%;
}
.mat-form-field {
  width: 90%;
}
.radio-mat-group {
  margin-top: 10px;
  padding-top: 15px;
  display: inline-block;
  height: 24px;
  position: relative;
  width: 90%;
}
.radio-mat-group label {
  position: absolute;
  font-size: 11px;
  top: 0px;
  left: 0px;
  color: #959595;
}

.cmd-add-dialog {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
}

.cmd-add-dialog .guide-area {
  width: 50%;
  max-width: 50%;
  max-height: 320px;
  overflow-y: auto;
}
.cmd-add-dialog .guide-area::-webkit-scrollbar {
  width: 3px;
  background-color: transparent
}
.cmd-add-dialog .guide-area::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #4a148c;
}
.cmd-add-dialog .guide-area .guide-image {
  max-height: 250px;
}
.cmd-add-dialog .guide-area .guide-image img {
  margin: 0 auto;
  width: 100%;
  min-width: 220px;
}

.cmd-add-dialog .guide-area ul {
  list-style: none;
  padding-left: 10px;
  text-align: left;
}
.cmd-add-dialog .guide-area ul li {
  line-height: 18px;
}